<!DOCTYPE HTML>
<!--
	Spectral by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
	<title>C'était Marrant</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	{% block stylesheets %}
{#		<link rel="stylesheet" href="assets/css/main.css"/>#}
{#		<link rel="icon" type="image/png" href="images/dio.jpg" />#}
{#		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>#}

		<link href="{{ asset('images/dio.jpg') }}" type="image/png" rel="icon" />
		<link href="{{ asset('assets/css/main.css') }}" type="text/css" rel="stylesheet" />
		<noscript><link rel="stylesheet" href="{{ asset('assets/css/noscript.css') }}" /></noscript>
{#	ligne d'exemple =>	<link href="{{ asset('css/main.css') }}" type="text/css" rel="stylesheet" />#}
	{% endblock %}

</head>
<body class="landing is-preload">

<!-- Page Wrapper -->
<div id="page-wrapper">

	<!-- Header -->
	<header id="header" class="alt">
		<!--   <h1><a href="index.html">PTDR </a></h1>
           <nav id="nav">
               <ul>
                   <li class="special">
                       <a href="#menu" class="menuToggle"><span>Menu</span></a>
                       <div id="menu">
                           <ul>
                               <li><a href="index.html">Home</a></li>
                               <li><a href="generic.html">Generic</a></li>
                               <li><a href="elements.html">Elements</a></li>
                               <li><a href="#">Sign Up</a></li>
                               <li><a href="#">Log In</a></li>
                           </ul>
                       </div>
                   </li>
               </ul>
           </nav> -->
	</header>

	<!-- Banner -->


	<!-- One -->
	<section id="one" class="wrapper style1 special">
		<div class="inner">
			<a href="{{ path('index') }}" class="button fit">Accueil </a>
			<header class="major">
				<h3> Tout d'abord pour rire il faut prendre une grande bouffée d'air frais,
					Si vous ne le faites pas , vous risquez de produire un rire peu flatteur,
					Au contraire si vous en prenez trop , vous risquez de faire un rire malsain,
					Il va vous falloir trouver le juste milieu </h3>

			</header>
		</div>
	</section>

	<section id="two" class="wrapper alt style2">
		<section class="spotlight">
			<div class="image"><img src="{{ asset('images/benvoyons.jpg') }}" alt="" /></div><div class="content">
				<h2>Voici
					le type de rire qu'il ne faut pas reproduire en société</h2>
				<p>Un rire causé par le stress, il semble tendu, crispé. <br>Voilà un rire que vos amis ne voudraient pas observer sur votre visage. </p>
			</div>
		</section>
		<section class="spotlight">
			<div class="image"><img src="{{ asset('images/melenchon.jpg') }}" alt="" /></div><div class="content">
				<h2>Un rire très compliqué à analyser </h2>
				<p>On ne sait pas s'il a envie de vous manger ou bien de vous signaler que son dentiste est en grève</p>
			</div>
		</section>
	</section>
	</section>


        <footer id="footer">
                    <ul class="icons">
                        <li><a href="https://twitter.com/MarrantMr" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                       <li><a href="https://github.com/MrMarrant" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
                    </ul>

					<div style="text-align:center" class="actions">
						<a href="{{ path('etudes') }}" class="button fit">Site de recensement </a>
						<br>
						<i><font size="0">Moins Marrant </font> </i>
					</div>

                    <ul class="copyright">
                        <li>&copy; Tous droits réservés à Mr Marrant</li>
{#						<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>#}
                    </ul>
                </footer>

</div>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>

</body>
</html>