<!DOCTYPE HTML>
<!--
	Spectral by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <title>C'était Marrant</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    {% block stylesheets %}
    <link href="{{ asset('images/dio.jpg') }}" type="image/png" rel="icon" />
    <link href="{{ asset('assets/css/main.css') }}" type="text/css" rel="stylesheet" />
    <noscript><link rel="stylesheet" href="{{ asset('assets/css/noscript.css') }}" /></noscript>
    {% endblock %}

</head>
<body class="landing is-preload">

<!-- Page Wrapper-->
<div id="page-wrapper">



    <!-- Banner -->


    <!-- One -->
{#    <section id="one" class="wrapper style1 special">#}
{#        <div class="inner">#}
{#            <a href="{{ path('index') }}" class="button fit">Accueil </a>#}
{#            <header class="major">#}
{#                <h3> Voici une liste exhaustive des personnes qui ont daigné donner un avis sur mon travail à mourir de rire, notez la pertinence et le sérieux des propos,#}
{#                    je remercie à tous mes adorateurs et leur souhaite à tous de la joie et de la bonne humeur.#}
{#                </h3>#}

{#            </header>#}
{#        </div>#}
{#    </section>#}

    <section id="three" class="wrapper style3 special">
        <a href="{{ path('index') }}" class="button fit">Accueil </a>
        						<div class="inner">
        							<header class="major">
        								<h2>Les recomandations sur mon talent en tant que développeur</h2>
        								<p>Voici une liste exhaustive des personnes qui ont daigné donner un avis sur mon travail à mourir de rire, notez la pertinence et le sérieux des propos,<br>
                                         Je remercie à tous mes adorateurs et leur souhaite à tous de la joie et de la bonne humeur.</p>
        							</header>
        							<ul class="features">
        								<li class="icon fa-paper-plane">
        									<h3>Morgan</h3>
        									<img src="{{ asset('images/AvisMorgan.PNG') }}" width="300" >
        								</li>
{#        								<li class="icon solid fa-laptop">#}
{#        									<h3>Ac Augue Eget</h3>#}
{#        									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>#}
{#        								</li>#}
{#        								<li class="icon solid fa-code">#}
{#        									<h3>Mus Scelerisque</h3>#}
{#        									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>#}
{#        								</li>#}
{#        								<li class="icon solid fa-headphones-alt">#}
{#        									<h3>Mauris Imperdiet</h3>#}
{#        									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>#}
{#        								</li>#}
{#        								<li class="icon fa-heart">#}
{#        									<h3>Aenean Primis</h3>#}
{#        									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>#}
{#        								</li>#}
{#        								<li class="icon fa-flag">#}
{#        									<h3>Tortor Ut</h3>#}
{#        									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>#}
{#        								</li>#}
        							</ul>
        						</div>
        					</section>








    <footer id="footer">
        <ul class="icons">
            <li><a href="https://twitter.com/MarrantMr" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="https://github.com/MrMarrant" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
            {#                        <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>#}
            {#                        <li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>#}
            {#                        <li><a href="#" class="icon solid fa-enveloppe"><span class="label">Email</span></a></li>#}
        </ul>

        <div style="text-align:center" class="actions">
            <a href="{{ path('etudes') }}" class="button fit">Site de recensement </a>
            <br>
            <i><font size="0">Moins Marrant </font> </i>
        </div>

        <ul class="copyright">
            <li>&copy; Tous droits réservés à Mr Marrant</li>
            {#						<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>#}
        </ul>
    </footer>

</div>

 <!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>

</body>
</html>