{% extends 'base.html.twig' %}

{% block title %}Liste des Etudes{% endblock %}

{% block body %}
<h1>Liste des Zones en Lien avec la {{ plages.nomplage }} de l'{{ etudes.titreetude }}</h1>
{% if app.user %}


   {% set foo = 0 %}
   {% for etude_has_plage in etude_has_plages %}
      
         <div class="card">
         <div class="card-header"> 
         {% for zone in zones %}
            {% if  etude_has_plage.idzone == zone.idzone  %}
                <h5 class="card-title">{{ zone.nomzone }}</h5> 
            {% endif %}              
         {% endfor %} 

            </div>
            <div class="card-body">
               <p class="card-text">Id De l'étude à virer un jour : {{ etude_has_plage.idetude }}</p>
                  <p class="card-text">Id De la Plage à virer un jour : {{ etude_has_plage.idplage }}</p>
                  <p class="card-text">Id De la Zone à virer un jour : {{ etude_has_plage.idzone }}</p> 
                       <div class="position-relative">

                       <div class="card">   
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><span class="badge badge-pill badge-primary">Angle 1 :</span>
    <div class="badge badge-pill badge-light" style="width: 6rem, right: 100rem;">
                    {{ etude_has_plage.angle1 }} 
                        </div> 
                        </li>
    <li class="list-group-item"><span class="badge badge-pill badge-primary">Angle 2 :</span>
    <div class="badge badge-pill badge-light" style="width: 6rem, right: 100rem;">
                    {{ etude_has_plage.angle2 }} 
                        </div> 
                        </li>
    <li class="list-group-item"><span class="badge badge-pill badge-primary">Angle 3 :</span>
    <div class="badge badge-pill badge-light" style="width: 6rem, right: 100rem;">
                    {{ etude_has_plage.angle3 }} 
                        </div> 
                        </li>
    <li class="list-group-item"><span class="badge badge-pill badge-primary">Angle 4 :</span>
    <div class="badge badge-pill badge-light    " style="width: 6rem, right: 100rem;">
                    {{ etude_has_plage.angle4 }} 
                        </div> 
                        </li>
   </ul>
</div>
<br>
                      
                        </div>     
               <a href={{ path("prelevement",{"idEtude":etude_has_plage.idetude,"idPlage":etude_has_plage.idplage, "idZone":etude_has_plage.idzone}) }} class="btn btn-info">Remplir un prélèvement</a> 
               
            </div>
            </div>  

            <br>

         
           
   {% endfor %}

{% for role in app.user.roles  %}
   {%  if role == 'ROLE_ADMIN' %}   
   <div class="card">
      <h5 class="card-header">Ajouter une nouvelle Zone</h5>
      <div class="card-body">
         <h5 class="card-title"> </h5>
         <p class="card-text"> </p>
         <a href={{ path("ajout_zone",{"idEtude":etudes.idetude, "idPlage":plages.idplage}) }} class="btn btn-info">Ajouter une nouvelle Zone</a>  
      </div>
   </div>
   {% endif %}
{% endfor %}
 
 <br> 

{% else %}

<a>Veuillez d'abord vous connectez sur un compte valide </a>
<a>Pour accéder au contenu des études </a>

{% endif %}
{% endblock %}
